.card {
    position: absolute;
    left: 0;
    right: 0;
    width: 60%;
    margin: auto;
    transition: transform 0.4s ease;
}

.card__clicked {
    opacity: 1;
    transform: translateX(0) scale(1);
    z-index: 1;
}

.card__notClickedLeft {
    opacity: 0.4;
    transform: translateX(-40%) scale(0.8);
    z-index: 0;
}

.card__notClickedRight {
    opacity: 0.4;
    transform: translateX(40%) scale(0.8);
    z-index: 0;
}
