.target_container__flicker {
    animation-name: flicker;
    animation-delay: 0.5s;
    animation-duration: 2s;
}

@keyframes flicker {
    0%, 40%, 80% {
        background-color: transparent;
    }
    20%, 60%, 100% {
        /* TODO(dnguyen0304): Extract to a centralized location to facilitate
        maintenance. */
        background-color: rgb(252, 201, 53);
    }
}
