.target_container__pulse {
    animation-name: pulse;
    animation-delay: 0.5s;
    animation-duration: 2s;
}

.target_container__highlight {
    /* TODO(dnguyen0304): Extract to a centralized location to facilitate
    maintenance. */
    background-color: rgb(252, 201, 53);
}

@keyframes pulse {
    0%, 40%, 80% {
        background-color: transparent;
    }
    20%, 60%, 100% {
        /* TODO(dnguyen0304): Extract to a centralized location to facilitate
        maintenance. */
        background-color: rgb(252, 201, 53);
    }
}
